*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
h1{margin: 2rem;
  font-size:5rem;
  text-align: center;
  font-family: 'Sacramento', cursive;
  color:	#409999c4 ;
}
h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 2;
  color:#409999;
}
h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  color:#409999	;
}
h6{
  background-color:#409999;
  font-family:Montserrat;
  font-weight: bold;
  color:white;
  text-align: center;
  width: 100%;
  word-spacing: 2;
  padding: 20px;
  margin-top: 20px;
}
hr{
   border-style: dotted;
   border-bottom: 0;
   border-width:4px;
   width:50px;
   color:#888888;
   margin: 3rem auto ;
}
.write{
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  font-weight: bolder;
  color:rgb(60, 84, 88);
  line-height: 2;
}
img{width: 100%;
  opacity: 0.8;
}
.about{background-color: white;
  position: relative;margin: 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  box-shadow:5px 5px 30px #4099998f ;
}


a{text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  word-spacing: 3px;
}
a:hover{
  color:#66BFBF;
}
.info{background-color: white;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding: 2rem;
  gap:30px;
}
.content{
  height:400px;
  width:350px;
  background-color:	#b0ebf585;
  padding:1rem;
  box-shadow: 10px 10px #409999;
  overflow: hidden;
}
.text{color:#409999;
  text-align: left;
  padding: 2px;
  font-size: 40px;
  font-weight:  #409999 ;
  font-family:  'Sacramento', cursive;
}

.box2{position: relative;padding: 4rem;
  text-align:left ;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 2;
 width: 50%;
       align-self:center;
}
.box1{position: relative;
  width: 50%;
      align-self:center;
}
.box2 p{
  line-height: 2;
  font-weight: bold;
  color:	#333333;
}
@media (max-width:640px){
  .info{
    flex-direction:column;
    align-items: center;
    align-content: space-around;
    gap:20px;
  }
  .about{
    flex-direction: column;
  }
  .box1,.box2{
    width: 100%;
  }
}
