body{
  background-color: white;
  padding: 0;
  margin: 0;
}
h1{
  font-size:4rem;
  text-align: center;
  font-family: 'Sacramento', cursive;
  color:#6699CC;
  margin: 50px auto 0 auto;
}
h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 2;
  font-weight: bolder;
  color:#6699CC;
}
h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  color:	#333333;
}
h6{
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  background-color:#8DA399;
  font-family:Montserrat;
  font-weight: bold;
  color:white;
  text-align: center;
  width: 100%;
  line-height: 4;
  word-spacing: 2;
}
hr{
   border-style: dotted;
   border-bottom: 0;
   border-width:4px;
   width:50px;
   color:#888888;
   margin: 10% auto 10%auto ;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  font-weight: bolder;
  position: absolute;
  color:white;
  line-height: 2;
  margin:auto 20px auto 20px;
  height:auto;
}
img{
  height:300px;
  position:relative;
  display:block;
  margin:auto;
}
a{
  font-size: 1rem;
  margin: 5px auto 5px auto;
  text-decoration: none;
  word-spacing: 3px;
}
a:hover{
  color:#66BFBF;
}
.info{
  position: relative;
  margin:2% 0 auto 0;
  height: 400px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  padding:5px;
}
.edu{
  position: absolute;
  left:10%;
  width: 25%;
  height:400px;
  background-color:#339999;
  border-radius:0 20px;
}
.skill{
  position: absolute;
  left:37.5%;
  height:400px;
  width: 25%;
  background-color:#339999;
  border-radius: 0 20px;
}
.other{
  position:absolute;
  height:400px;
  right:10%;
  width: 25%;
  background-color:	#339999;
  border-radius: 0 20px ;
}
.text{
  text-align: left;
  padding: 2px;
  font-weight: bolder;
  color:#003333;
}
.more{
  width:50%;
  margin: auto;
}
@media (max-width:540px){
  .info{
    flex-direction:column;}}
